body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
    background-color: antiquewhite;
    text-align: center;
    margin-top: calc(20vh - 70px);
}

/* paste csv file */
.container>form>textarea {
    width: 100%;
    height: 60vh;
    resize: none;
    padding: 5px;
}

.container>form>input {
    width: 15%;
    height: 4%;
    margin-top: 2%;
    border-radius: 10px;
    cursor: pointer;
}

.container>form>input:hover {
    background-color: #999;
    transition: ease-in-out .1s;
}

/* employees table */

table,
th,
td {
    border: 1px solid black;
}

td:first-child {
    width: 15%;
}



.editable_cell {
    background-color: blueviolet;
    text-align: center;
    padding: 0;
}

.active_cell {
    background-color: green;
}

.editable_cell:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.delete_row {
    padding: 0;
}

.delete_row>button {
    width: 100%;
}

td>input {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* display charts */

.charts_container {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #ECF6FE;
    text-align: center;
    display: flex;
}


.charts {
    width: 76%;
    overflow-y: scroll;
    padding: 2vh 2%;
}

.charts::-webkit-scrollbar {
    display: none;
}


.charts>canvas {
    margin: 3vh 0;
    background-color: #F3F9FE;
    border-radius: 20px;
    border: 3px solid #CAE6FC;
}



.days {
    width: 20%;
    height: 100vh;
    background-color: #053964;
    overflow-y: scroll;
}

.days::-webkit-scrollbar {
    display: none;
}

.days>form {
    width: 100%;
}

.days>form>input {
    background-color: #46A6F5;
    border-radius: 10px;
    width: 60%;
    padding: 1%;
    border: 2px solid #67B6F7;
    color: #eee;
    cursor: pointer;
}

.days>form>input:hover {
    background-color: #67B6F7;
    transition: ease-in .1s;
}

.days>form>ul {
    width: 100%;
    padding: 0;
    margin-top: 10vh
}

.days>form>ul>li {
    list-style-type: none;
    width: 100%;
    color: #eee;
    display: flex;
    height: 3%;
    font-size: 2vh;
    margin: 15px 0px 0 10%;
}

.days>form>ul>li>input {
    height: 2vh;
    width: 2vh;
}