{% extends 'main.html' %}
{% load static %}

{% block content %} 


<div class='charts_container'>
    <div class='days'>
        <a href="{% url 'get_csv' %}">< Wróć</a>
        <form action="">
            <ul>
                {% for day in data %}
                <li>
                    <input class='day' type="checkbox" id="{{day}}" name="{{day}}" value="{{day}}">
                    <label for="vehicle1">{{day}}</label><br>
                </li>
                {% endfor %}


            </ul>
         
            <input type="submit" value="Pokaż">
        </form>


    </div>


    <div class='charts'>
        <canvas id="myChart" class='myChart'></canvas>
        <canvas id="myChart" class='myChart'></canvas>
        <canvas id="myChart" class='myChart'></canvas>
        <canvas id="myChart" class='myChart'></canvas>
        <canvas id="myChart" class='myChart'></canvas>
        <canvas id="myChart" class='myChart'></canvas>
    </div>
</div>


{% endblock content %}

{% block js %}

<script type="text/javascript">
    let received_data  = "{{data|safe}}";
    received_data = JSON.parse(received_data.replaceAll("'", '"'));
</script>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="{% static 'js/chart.js' %}"></script>
{% endblock js %}