<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <title>Aplikacja</title>
</head>
<body>

    {% if messages %} 
    {% for message in messages %}
      
    <div class = 'message {{message.tags}}-message'>
        <p>{{message}}</p>
        <span>✖</span>
    </div>
  
    {% endfor %} 
    {% endif %} 



    {% block content %} 

    {% endblock content %}


    {% block js %}
    {% endblock js %}
</body>
</html>